body{
    background-color: black;
    color: white;
}
.container1{
    display: flex;
    margin: 10px;
}
.container2{
    display: flex;
    margin: 10px;
}
.container3{
    display: flex;
    margin: 10px;
}
.container4{
    display: flex;
    margin: 10px;
}
.container5{
    display: flex;
    margin: 10px;
}
.container6{
    display: flex;
    margin: 10px;
}
.container7{
    display: flex;
    margin: 10px;
}
.container8{
    display: flex;
    margin: 10px;
}
.container9{
    display: flex;
    margin: 10px;
}
.container10{
    display: flex;
    margin: 10px;
}
.container{
    display: flex;
    margin: 10px;
}
.container11{
    display: flex;
    margin: 10px;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul{
    display: flex;
    gap: 25px;
    list-style: none;
}
.navbar ul a {
    text-decoration: none;
    color: rgb(235, 230, 230);
}
.titre{
   translate: 0 80px;
   text-align: center;
   margin-bottom: 15px;
}
.para{
    translate: 0 80px;
    text-align: justify;
    margin-right: 50px;
}
