.works {
    display: flex;
    justify-content: space-around;
    align-items: center;
    translate: 0 70px;
}
.image-container {
    position: relative;
    width: 300px;
    height: 400px;
}
.image-container img, .image-container .description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s;
}
.image-container .description {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

}
.image-container:hover .description {
    opacity: 1;
}
.image-container:hover img {
    opacity: 0;
}
body{
    background-color: black;
}
.image1 {
    transform: rotate(-20deg) translateY(50px);
}
.image2 {
    transform: rotate(0deg);
}
.image3 {
    transform: rotate(20deg) translateY(50px);
}
h3{
    color: white;
    animation: scroll 25s linear infinite;
    animation-delay: calc(25s/ -1);
    font-size: 50px;
}
@keyframes scroll{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul{
    display: flex;
    gap: 25px;
    list-style: none;
}
.navbar ul a {
    text-decoration: none;
    color: rgb(235, 230, 230);
}
